{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>About
            <small>freyr photography</small>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-4 text-justify">
            <p>Hi, my name is Michal, but here I'm Freyr.</p>

            <p>This is website that I've created as a double case study. First of all I want to have a proper online
                photo album. I'm not a professional photographer, I take pictures mostly for fun not for profit. Still,
                some of them are good enough to post them online. That is one reson for this website.</p>

            <p>Second reason is that I'm a geek. I'm acctually a software developer and my main focus latelly is on
                software architecture. My interest on that topic lead me to stuff like Clean Architecture, SOLID
                principles and stuff related to that. And that is this second reason - i've created this website as a
                playground for my experiments with clean code. It is still under development, my backlog of things to
                improve and stuff to change is loong, but code is ready enough to be deployed and used. On this occasion
                I've additionally played with Heroku, Coudinary, Symfony2 and couple other tools :></p>

            <p>I hope you will spend a nice time here. Enjoy!</p>

            <p>.freyr</p>

        </div>

        <div class="col-md-8">

        </div>
    </div>
{% endblock %}
