{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Gallery <small>{{ gallery.name }}</small></h2>
    </div>

    <div class="row">
    {% for photo in photos %}
        {% if (loop.index0 is divisibleby(4)) %}
            </div>
            <div class="row">
        {% endif %}
        <div class="col-md-3">
            <a class="fancybox" rel="group" href="{{ cl(photo.getName(), 850, false) }}">
                <img class="thumbnail lazyload" data-original="{{ cl(photo.getName(), 250) }}" width="250" height="250" />
            </a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
