{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Gallery
            <small>{{ gallery }}</small>
        </h2>
    </div>

    <div class="row">
    {% for item in photos %}
        {% if (loop.index0 is divisibleby(4)) %}
            </div>
            <div class="row">
        {% endif %}
        <div class="col-md-3">
            <a class="fancybox" rel="group" href="{{ item.photoUrlFull }}">
                <img class="thumbnail lazyload" data-original="{{ item.photoUrlThumbnail }}" width="250" height="250"/>
            </a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
