{% extends '::base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Tags
            <small>
                {% for tag in tags %}
                    {{ tag|e }}
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}

            </small>
        </h2>
    </div>

    <div class="row">
    {% for photo in photos %}
        {% if (loop.index0 is divisibleby(4)) %}
            </div>
            <div class="row">
        {% endif %}
        <div class="col-md-3">
            <a class="fancybox" rel="group" href="{{ cl(photo.cloudId, 850, false) }}">
                <img class="thumbnail lazyload" data-original="{{ cl(photo.cloudId, 250) }}" width="250" height="250"/>
            </a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
